<div an-pages>
    <div an-page>
        <div an-panel>
            <header class="an-dialog-header">
                <h2 class="an-dialog-header-title">Create Session</h2>
                <a class="an-dialog-header-close {{ classes.closes }}" ng-style="styles.close" ng-click="$close()"><span class="aui-icon aui-icon-small aui-iconfont-close-dialog" translate="sv.common.words.Cancel"></span></a>
            </header>

            <section class="an-dialog-content" ng-style="styles.content">
                <form class="aui" name="createSessionForm">
                    <fieldset>
                        <div class="field-group">
                            <label for="title">Title<span class="aui-icon icon-required"> required</span></label>
                            <input ng-model="dialogCtrl.data.title" required class="text" type="text" id="title" name="title" title="title">
                            <div class="error"
                                ng-if="dialogCtrl.serverError.fieldErrors.title"
                                ng-bind="dialogCtrl.serverError.fieldErrors.title"></div>
                        </div>
                    </fieldset>
                </form>
            </section>

            <footer class="an-dialog-footer">
                <div class="an-dialog-footer-actions">
                    <button class="aui-button" ng-disabled="createSessionForm.$invalid" ng-click="$nextPanel()">Next</button>
                    <button class="aui-button aui-button-link" ng-click="$close()">Close</button>
                </div>
            </footer>
        </div>

        <div an-panel>
            <header class="an-dialog-header">
                <h2 class="an-dialog-header-title">Summary</h2>
                <a class="an-dialog-header-close {{ classes.closes }}" ng-style="styles.close" ng-click="$close()"><span class="aui-icon aui-icon-small aui-iconfont-close-dialog" translate="sv.common.words.Cancel"></span></a>
            </header>

            <section class="an-dialog-content" ng-style="styles.content">
                <div an-messages-container="createSessionErrorContainer"></div>

                <table class="aui summary">
                    <tbody>
                        <tr>
                            <th>Title</th>
                            <td ng-bind="dialogCtrl.data.title"></td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <footer class="an-dialog-footer">
                <div class="an-dialog-footer-actions">
                    <button class="aui-button" ng-click="$prevPanel()">Prev</button>
                    <button class="aui-button aui-button-primary" ng-click="dialogCtrl.submit()">Submit</button>
                    <button class="aui-button aui-button-link" ng-click="$close()">Close</button>
                </div>
            </footer>
        </div>
    </div>
<div>