<div id="page">
    <section id="content" role="main">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h1>Cats convention 2017</h1>
                </div>
            </div>
        </header>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <div>
                        <button class="aui-button aui-button-primary" ng-click="overviewCtrl.createSession()">Add Session</button>
                    </div>
                    <table class="aui">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Attendees</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="session in overviewCtrl.sessions track by session.id">
                                <td><span ng-bind="session.title"></span></td>
                                <td>
                                    <ul class="attendees">
                                        <li ng-repeat="cat in session.attendees track by cat.id">
                                            <attendee cat="cat"></attendee>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <em>Total Attendees: <span ng-bind="overviewCtrl.attendeesCount"></span></em>
                    </p>
                </section>
            </div>
        </div>
    </section>
    <footer id="footer" role="contentinfo">
        <section class="footer-body">
            <div id="footer-logo"></div>
        </section>
    </footer>
</div>
