
.attendees {
    list-style: none;
    margin: 0;
    padding: 0;
}

.attendees:after {
    content:'';
    display:block;
    clear: both;
}

.attendees li {
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px;
}

.attendees span {
    font-size: 14px;
    color: #333;
}

.attendees img {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-bottom: -5px;
}

